<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teachingplatform.mapper.CourseResourceMapper">

    <resultMap type="com.example.teachingplatform.entity.CourseResource" id="CourseResourceMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="details" column="details"/>
        <result property="filename" column="filename"/>
        <result property="courseId" column="course_id"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CourseResourceMap">
        select id,
               name,
               details,
               filename,
               course_id,
               user_id,
               create_time
        from course_resource
        where id = #{id}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultType="com.example.teachingplatform.dto.CourseResourceDTO">
        select
        course_resource.id, course_resource.name, details, filename, course_id courseId, course_resource.user_id userId,
        course_resource.create_time, c.name courseName
        from course_resource
        left join course c on c.id = course_resource.course_id
        <where>
            <if test="id != null">
                and course_resource.id = #{id}
            </if>
            <if test="name != null and name != ''">
                and course_resource.name = #{name}
            </if>
            <if test="details != null and details != ''">
                and details = #{details}
            </if>
            <if test="filename != null and filename != ''">
                and filename = #{filename}
            </if>
            <if test="courseId != null">
                and course_id = #{courseId}
            </if>
            <if test="userId != null">
                and course_resource.user_id = #{userId}
            </if>
            <if test="createTime != null">
                and course_resource.create_time = #{createTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into course_resource(name, details, filename, course_id, user_id, create_time)
        values (#{name}, #{details}, #{filename}, #{courseId}, #{userId}, #{createTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update course_resource
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="details != null and details != ''">
                details = #{details},
            </if>
            <if test="filename != null and filename != ''">
                filename = #{filename},
            </if>
            <if test="courseId != null">
                course_id = #{courseId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from course_resource
        where id = #{id}
    </delete>

</mapper>

