<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.teachingplatform.mapper.ExperimentMapper">

    <resultMap id="BaseResultMap" type="com.example.teachingplatform.entity.Experiment">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="courseId" column="course_id" jdbcType="INTEGER"/>
        <result property="fileUrl" column="file_url" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,user_id,
        course_id,file_url,content,
        create_time
    </sql>
    <insert id="save">
        insert into experiment(name, user_id, course_id, file_url, content, create_time)
        values(#{name}, #{userId}, #{courseId}, #{fileUrl}, #{content}, #{createTime})
    </insert>

    <update id="updateById">
        update experiment
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="courseId != null">
                course_id = #{courseId},
            </if>
            <if test="fileUrl != null and fileUrl != ''">
                file_url = #{fileUrl},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="removeById">
        delete from experiment where id = #{id}
    </delete>
    <select id="getPageList" resultType="com.example.teachingplatform.dto.ExperimentDTO">
        select experiment.id,
               experiment.name,
               experiment.user_id,
               course_id courseId,
               file_url fileUrl,
               content,
               experiment.create_time createTime,
               course.name courseName
        from experiment
                 left join course on course.id = experiment.course_id
        <where>
            <if test="id != null">
                and experiment.id = #{id}
            </if>
            <if test="name != null and name != ''">
                and experiment.name like concat('%', #{name}, '%')
            </if>
            <if test="userId != null">
                and experiment.user_id = #{userId}
            </if>
            <if test="courseId != null">
                and course_id = #{courseId}
            </if>
            <if test="fileUrl != null and fileUrl != ''">
                and file_url = #{fileUrl}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
        </where>
        order by experiment.create_time asc
    </select>
    <select id="getById" resultMap="BaseResultMap">
        select
            id, name, user_id, course_id, file_url, content, create_time
        from experiment
        where id = #{id}
    </select>
</mapper>
